   <%- include('header') %>

   <div class="jumbotron centered">
        <div class="container">
            <i class="fa-solid fa-key"></i>
            <h1>Welcome, <%= user.name %>!</h1>
            <h2 class="display-3">You've Discovered My Secret!</h2>
            <p class="lead">This page is authenticated</p>
            <hr/>
            <a class="btn btn-light btn-lg" href="/logout" role="button">Logout</a>
        </div>
    </div>
    
    <%- include('footer') %>